/* all pages */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: whitesmoke;
    padding: 0 40px 0 40px;
}

h2 {
  font-family: 'Darumadrop One', cursive;
  color: rgba(231, 38, 212, 0.951);
}

/* nav bar */
ul {
   font-family: 'Darumadrop One', cursive;
    list-style-type: none;
    margin: 10px;
    padding: 0 40px 0;
    overflow: hidden;
    background-color: none;
    text-align: center;
 }

 li {
  display: inline;
}
  
  li a {
    display: inline-block;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 400ms ease-in-out;
    
  }
  
li a:hover {
    color: rgba(231, 38, 212, 0.951);
  }
 


.pic1{
    float: left;
    padding: 0 30px 50px 0;
}

.pic2{
    float: right;
    padding: 30px 0 0 0;
}

.pic3{ 
  float: left;
  padding: 20px 0 0 0;

}


p{
  font-size: 15px;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  border: none;
  border-radius: 10px;
  padding: 0 30px 30px 30px;
  max-width: 80%;   
}

